@charset "UTF-8";

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
ol,
ul {
  list-style: none;
}
/* --color-text-base 최신브라우저에서 사용되는 색상 기술 */
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
.clearfix {
  clear: both;
}
button {
  /* border: none;
    outline: none;
    background-color: transparent; */
  cursor: pointer;
}
/* input, textarea {
    outline: none;
    border: none;
} */
/* 페이지 배경 대부분 어두운색이라 기본 글자색 바꿔줌  */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
input,
button,
a {
  color: #000000;
}

.flex-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.flex-start {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.flex-end {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.flex-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

a:link {
  color: #3f464d;
  text-decoration: none;
  line-height: 100%;
}
a:visited {
  color: #3f464d;
  text-decoration: none;
}
a:active {
  color: #2186c4;
  text-decoration: none;
}
a:hover {
  color: #2186c4;
  text-decoration: none;
}

.container {
  width: 900px;
  margin: 0 auto;
}


#header {
  margin: 20px 0 40px;
  border-bottom: solid 1px #ededed;
}
#header .header-left {
  width: calc(100% - 210px);
}
#header .header-top h1 a{
  font-size: 40px;
}


#header .login-wrap {
  margin-top: 10px;
  width: 200px;
  text-align: right;
  /* background-color: pink; */
  border: solid 1px lightgray;
  padding: 10px;
  border-radius: 10px;
}
#header .login-wrap .user-name {
  display: block;
  font-size: 20px;
  font-weight: bold;
}
#header .login-wrap a {
  font-size: 11px;
}

#header nav {
  margin-top: 10px;
  height: 30px;
}
#header nav ul {
  height: 100%;
}
#header nav ul li {
  height: 100%;
}
#header nav ul li a {
  padding: 5px 0;
  font-size: 16px;
  display: block;
}

.board-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.main-table {
  border-top: solid 1px #222222;
  border-bottom: solid 1px lightgray;
}
.main-table th,
.main-table td {
  padding: 10px 0;
  border-bottom: solid 1px lightgray;
}
.main-table tr:last-child td {
  border-bottom: none;
}


.main-table td.tbtd_caption, .main-table td.tbtd_content {
	padding: 10px;
}
td.tbtd_content input {
	max-width: 250px;
}
td.tbtd_content input#TITLE {
	max-width: 700px;
	width: 700px;
}
.tbtd_content p.multi-user {
	display: inline-block;
	height: 100%;
	
	max-width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.main-table th, .main-table td.tbtd_caption {
  background-color: #ededed;
}

#sysbtn ul {
  margin-top: 20px;
  text-align: end;
}
#sysbtn ul li {
	margin: 0 10px;
}
a.btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #ff8066;
  border-radius: 10px;
  color: #fff6e6;
}
td a.btn {
	float:right;
}

#paging {
	margin: 10px 0;
	text-align: center;
}

#search {
	margin: 0 auto;
	height: 36px;
}
#search ul li{
	overflow: hidden;
	height: 36px;
	margin-right: 10px;
}
#search ul li input, #search ul li select {
  	padding: 0 10px;
  	height: 100%;
}

/* dialog */
#dialog .dialog-container {
  width: 550px;
  margin: 0 auto;
  padding-top: 20px;
}


#dialog .dialog-container #search {
	width: 100%;
	margin-bottom: 20px;

}

#dialog .dialog-container #selectUserList h3 {
	
	margin-top: 20px;
	margin-bottom: 10px;
}

#dialog .dialog-container #selectUserList span.selectedUser {
	display: inline-block;
	background-color: #ededed;
    padding: 2px 4px;
    margin-right: 5px;
    margin-bottom: 7px;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
    font-size: 11px;
    word-break: keep-all;
}
.fa-window-close:before {
    content: "\f410";
    margin-left: 4px;
    cursor:pointer;
}
.ellipse {
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


