* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
ol, ul {
    list-style: none;
}
/* --color-text-base 최신브라우저에서 사용되는 색상 기술 */
a {
    text-decoration: none;
}
img {
    vertical-align: middle;
}
.clearfix {
    clear: both;
}
button {
    /* border: none;
    outline: none;
    background-color: transparent; */
    cursor: pointer;
}
/* input, textarea {
    outline: none;
    border: none;
} */
 /* 페이지 배경 대부분 어두운색이라 기본 글자색 바꿔줌  */
h1, h2, h3, h4, h5, h6, p, span, input, button, a {
    color: #000000;
}


.flex-between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.flex-start {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.flex-end {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



#header {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid gray;

}

#header .header-container {
    width: 1130px;
    height: 100%;
    margin: 0 auto;
    padding: 20px 0;
}
#header .nav-wrap {
    width: 100%;
    height: 100%;
}
#header .nav-wrap h1 {
    display: inline-block;
}
#header .nav-wrap nav {
    height: 100%
}
#header .nav-wrap nav ul {
    margin: auto 0;
    height: 100%;
}
#header .nav-wrap nav ul li {
    display: block;
    padding: 0 15px;
}
#header .nav-wrap nav ul li a {
    font-size: 16px;
}
#header .nav-wrap nav ul li.on a{
    font-weight: bold;
}


#header .nav-wrap .login-wrap {
    width: 200px;
    height: 100%;
    text-align: right;
}
#header .nav-wrap .login-wrap .user-name {

}
#header .nav-wrap .login-wrap .login-setting {
    
}
#header .nav-wrap .login-wrap .login-setting a {
    display: inline-block;
    font-size: 14px;
}


.main-container {
    width: 1030px;
    margin: 0 auto;
}
.main-container .board-title {
    font-size: 20px;
    padding: 20px 0;
}

.main-container #bt-list-table {
    width: 100%;
    border: solid 1px #ededed;
}
.main-container #bt-list-table tr {
    border-bottom: solid 1px #ededed;
}
.main-container #bt-list-table tr th {
    text-align: center;
    background-color: lightblue;
    padding: 10px 0;
}
.main-container #bt-list-table tr td {
    padding: 10px 5px;
    max-width: 300px;
    border-right: solid 1px #ededed;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.page-wrap {
    text-align: center;
}

.btn {
    width: 80px;
    padding: 10px 20px;
    border: solid 1px #f2f2f2;
    border-radius: 10px;
    color: #212529;
}
.btn.btn-blue {
    display: block;
    background-color: lightblue;
}

.search-area {
    width: 480px;
    margin: 0 auto;
}
.search-area ul {
    padding: 0;
    width: calc(100% - 90px);
}
.search-area ul li {
    width: 100%;
}
.search-area ul li label {
    width: 70px;
}
.search-area ul li input {
    width: calc(100% - 80px);
}
.search-area .btn.btn-search {
    display: inline-block;
}










